<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme SCHUTZ</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script> 
</head>
<body>
    <div class="message-circle">Bienvenue sur la plateforme SCHUTZ</div>
    <div class="container">
    <h1>Ranger un Composant</h1>
<form action="/ajouter_composant" method="POST">
    <label for="allee">Allée</label>
    <select id="allee" name="allee" required>
        <option value="">Sélectionnez une allée</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
    </select>

    <label for="emplacement">Emplacement</label>
    <select id="emplacement" name="emplacement" required>
        <option value="">Sélectionnez un emplacement</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="300">300</option>
        <option value="400">400</option>
        <option value="500">500</option>
    </select>

    <label for="reference">Référence</label>
    <input type="text" id="reference" name="reference" required>

    <label for="date">Date</label>
    <input type="date" id="date" name="date" required>

    <button type="submit">Ranger</button>
    <div id="message"></div>
  </form>

    </div>

    </div>
</body>
</html>
