<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme SCHUTZ</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>
</head>
<body>
    <div class="message-circle">Bienvenue sur la plateforme SCHUTZ</div>
    <div class="container">
    <h1>Rechercher une Référence</h1>
<form action="/recherche" method="POST">
    <label for="reference">Référence</label>
    <input type="text" id="reference" name="reference" required>

    <button type="submit" name="recherche">Rechercher</button>
    <div id="message"></div>
</form>

   {% if data %}
        <h2>Résultats de la Recherche</h2>
        <ul>
            {% for item in data %}
            <li name="resultat_ok">Allee: {{ item[2] }}, Emplacement: {{ item[3] }}, Référence: {{ item[0] }}, Date: {{ item[1] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: red;" name="resultat_nok">Aucun résultat trouvé pour cette référence.</p>
    {% endif %}        
    </div>
    </div>   
    
</body>
</html>









    









    
