<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateforme SCHUTZ</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>

<style>
        .message-circle {
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px;
            border-radius: 50%;
            background: linear-gradient(45deg, #ff6f61, #ffecb3, #ff5722, #ffeb3b);
            color: white;
            font-weight: bold;
            text-align: center;
            font-size: 18px;
            z-index: 1000;
        }
    </style>
</head>


	
</head>
<body>
    <div class="message-circle">Bienvenue sur la plateforme SCHUTZ</div>

    <div class="container">
        <h1>Gestion des Formulaires</h1>
        <div id="userInfo"></div>
        <ul id="formLinks">
            <!-- Liens vers les formulaires seront insérés ici -->
	    <li><a href="ranger_composant.html">Ranger un Composant</a></li>
            <li><a href="vider_emplacement.html">Vider un Emplacement</a></li>
            <li><a href="rechercher_reference.html">Rechercher une Référence</a></li>
            <li><a href="verifier_disponibilite.html">Vérifier Disponibilité</a></li>
        </ul>

        <div id="formContainer">
            <!-- Formulaire inséré dynamiquement ici -->
        </div>
    </div>
</body>
</html>
