<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page du Chef</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Bienvenue, Chef !</h1>
    <p>Voici les actions disponibles :</p>

    <ul>
        <li><a href="{{ url_for('FormulaireRanger') }}">Ranger un composant</a></li>
        <li><a href="{{ url_for('FormulaireVider') }}">Vider un emplacement</a></li>
        <li><a href="{{ url_for('recherche') }}">Rechercher un composant</a></li>
        <li><a href="{{ url_for('lecture') }}">Etat de l'inventaire</a></li>
    </ul>

    <p><a href="{{ url_for('logout') }}">Déconnexion</a></p>
</body>
</html>
