<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture des Données</title>
    <link rel="stylesheet" href="styles.css">
    <script defer src="script.js"></script>  
    <style>
       body {
           background-color: #007BFF; /* Bleu pour l'arrière-plan */
       }
    </style>
</head>
<body>
    <h1>Inventaire</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Date</th>
                <th>Allée ID</th>
                <th>Emplacement ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
</body>
</html>
