<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventaire</title>
    <style>
        body {
             background-color: white; /* Arrière-plan blan */
        }
    </style>
</head>
<body>
    <h1>Inventaire</h1>

    <!-- Return link -->
    <a href="/menu_accueil" class="return-link">Retour à l'accueil</a>
    
    <table border="1">
        <thead>
            <tr>
                <th>Référence</th>
                <th>Date</th>
                <th>Allée ID</th>
                <th>Emplacement ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td>{{ item[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
